@import url("https://fonts.googleapis.com/css2?family=Pattaya&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #bdbdbd;
  width: 100%;
  height: 100vh;
  font-size: 15px;
  line-height: 1.5;
  margin: 0;

  header {
    background: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: 3px solid #e8491d;

    .container {
      width: 80%;
      margin: auto;
      overflow: hidden;

      #logo {
        font-family: "Pattaya";
        float: left;

        h1 {
          margin-bottom: 20px;
          font-size: 1.6rem;

          .heighlight {
            color: #e8491d;
            font-weight: bold;
          }
        }
      }

      nav {
        float: right;
        margin-top: 10px;

        ul {
          margin: 0;
          padding: 0;

          li {
            float: left;
            display: inline;
            padding: 0 20px 0 20px;
            a {
              color: #ffffff;
              text-decoration: none;
              text-transform: uppercase;
              font-size: 1rem;
              margin-bottom: 50px;

              &:hover {
                color: #cccccc;
                font-weight: bold;
              }
            }
            .current {
              color: #e8491d;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
  #showcase {
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 400px;
    text-align: center;
    color: #ffffff;
    background-image: url(./image/nightmare-1699071_1280.jpg);
    background-repeat: no-repeat;

    h1 {
      font-family: monospace;
      padding-top: 4.5rem;
      font-size: 4rem;
      margin-bottom: 10px;
    }
    p {
      font-family: "Times New Roman", Times, serif;
      font-size: 1.4rem;
    }
  }

  #newsletter {
    background: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 100px;
    padding: 2rem;

    .container {
      h1 {
        float: left;
      }
      form {
        float: right;

        input[type="email"] {
          padding: 4px;
          height: 35px;
          width: 300px;
          outline-style: none;
        }
        .button-1 {
          height: 35px;
          background: #e8491d;
          border: 0;
          padding-left: 20px;
          padding-right: 20px;
          color: #ffffff;
        }
      }
    }
  }
  #boxes {
    width: 100%;
    padding: 2rem;
    margin-top: 1.4rem;
    justify-content: space-between;

    .box {
      float: left;
      width: 30%;
      padding: 1px;
      text-align: center;
      margin-left: 2rem;
      img {
        width: 100px;
      }
    }
  }

  // about

  #main {
    width: 100%;
    #main-col {
      float: left;
      width: 65%;

      .page-title,
      .paragraph {
        margin-left: 20px;
        margin-top: 20px;
      }
      .dark {
        padding: 1.3rem;
        background: #35424a;
        color: #ffffff;
        margin-top: 20px;
        margin-bottom: 81px;
        margin-left: 20px;
        margin-right: 20px;
      }
      // Services

      #Services {
        li {
          list-style: none;
          padding: 20px;
          border: 1px solid #a19f9f;
          margin-bottom: 5px;
          background: #d1d1da;
          margin-left: 20px;
          margin-bottom: 20px;
        }
      }
    }

    #sidebar {
      float: right;
      width: 30%;
      margin-top: 10px;
      margin-right: 20px;

      .dark {
        padding: 1rem;
        background: #35424a;
        color: #ffffff;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      form {
        input[type="text"],
        [type="email"],
        [type="message"] {
          padding: 4px;
          height: 35px;
          width: 300px;
          outline-style: none;
          width: 90%;
        }
        .button-1 {
          height: 35px;
          background: #e8491d;
          border: 0;
          padding-left: 20px;
          padding-right: 20px;
          color: #ffffff;
        }
      }
    }
  }

  footer {
    align-items: center;
    text-align: center;
    float: left;
    background: #e8491d;
    width: 100%;

    .icon a svg {
      color: white;
      margin-top: 2rem;
      justify-content: space-between;
    }
    p {
      color: #ffffff;
      margin-bottom: 2rem;
    }
  }
}

// MEDIA QUERY

@media (max-width: 768px) {
  body {
    font-family: "Poppins", sans-serif;
    background-color: #bdbdbd;
    width: 100%;
    height: auto;
    font-size: 15px;
    line-height: 1.5;
    margin: 0;

    header {
      background: #35424a;
      color: #ffffff;
      padding-top: 30px;
      min-height: 70px;
      border-bottom: 3px solid #e8491d;

      .container {
        width: 80%;
        margin: auto;
        overflow: hidden;

        #logo {
          font-family: "Pattaya";
          float: none;
          text-align: center;

          h1 {
            margin-bottom: 20px;
            font-size: 1.6rem;

            .heighlight {
              color: #e8491d;
              font-weight: bold;
            }
          }
        }

        nav {
          float: right;
          text-align: center;
          margin-top: 10px;

          ul {
            margin: 0;
            padding: 0;

            li {
              float: none;
              display: inline;
              padding: 0 20px 0 20px;
              a {
                color: #ffffff;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 1rem;
                margin-bottom: 50px;

                &:hover {
                  color: #cccccc;
                  font-weight: bold;
                }
              }
              .current {
                color: #e8491d;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
    #showcase {
      width: 100%;
      min-height: 400px;
      text-align: center;
      color: #ffffff;
      background-image: url(./image/nightmare-1699071_1280.jpg);

      h1 {
        font-family: monospace;
        padding-top: 3.5rem;
        font-size: 2rem;
        margin-bottom: 10px;
      }
      p {
        font-family: "Times New Roman", Times, serif;
        font-size: 1.1rem;
        padding: 1rem;
      }
    }

    #newsletter {
      background: #35424a;
      color: #ffffff;
      padding-top: 30px;
      min-height: 100px;
      padding: 2rem;

      .container {
        h1 {
          float: none;
          text-align: center;
          width: 100%;
        }
        form {
          float: none;
          width: 96%;
          align-items: center;
          text-align: center;

          input[type="email"] {
            padding: 4px;
            height: 35px;
            width: 320px;
            outline-style: none;
          }
          .button-1 {
            width: 320px;
            height: 35px;
            background: #e8491d;
            border: 0;
            padding-left: 20px;
            padding-right: 20px;
            color: #ffffff;
            margin-top: 0.3rem;
          }
        }
      }
    }
    #boxes {
      width: 100%;
      padding: 2rem;
      margin-top: 1.4rem;
      justify-content: space-between;

      .box {
        float: none;
        width: 96%;
        padding: 1px;
        text-align: center;
        margin-left: 0.6rem;
        img {
          width: 100px;
        }
      }
    }

    // about

    #main {
      // float: none;
      // width: 100%;
      // text-align: center;
      #main-col {
        float: none;
        width: 100%;
        text-align: center;

        .page-title,
        .paragraph {
          margin-right: 20px;
        }
        .dark {
          padding: 1.3rem;
          background: #35424a;
          color: #ffffff;
        }

        // Services

        #Services {
          li {
            list-style: none;
            border: 1px solid #a19f9f;
            margin-bottom: 5px;
            text-align: center;
            margin-right: 20px;
            background: #d1d1da;
          }
        }
      }

      #sidebar {
        float: none;
        width: 100%;
        text-align: center;
        margin-top: 10px;
        margin-right: 20px;

        .dark {
          padding: 1rem;
          background: #35424a;
          color: #ffffff;
          margin-bottom: 6rem;
          height: 50vh;
          width: 92%;
          margin-left: 14px;
        }

        form {
          input[type="text"],
          [type="email"],
          [type="message"] {
            padding: 4px;
            height: 35px;
            width: 300px;
            outline-style: none;
            width: 90%;
          }
          .button-1 {
            height: 35px;
            background: #e8491d;
            border: 0;
            color: #ffffff;
          }
        }
      }
    }

    footer {
      height: 15vh;
      justify-content: center;
      align-items: center;
      text-align: center;
      float: none;
      background: #e8491d;
      width: 100%;

      .icon a svg {
        color: white;
        margin-top: 2rem;
        justify-content: space-between;
      }
      p {
        color: #ffffff;
        margin-bottom: 2rem;
      }
    }
  }
}
